.tpsReport{
    table{
        width: 100%;
        height: auto;
    }
    td{
        overflow: hidden;
    }
    .hcSum{
        padding-bottom: 30px;
    }
    .fteSum{
        padding-bottom: 25px;
    }
    .page{
        float: right;
    }
}